#root {
    min-width: 423px;
    min-height: 225px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 50px;
    background-color: #cfe5a2;
  }
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    margin: 0;
    background-color: #5bb1e8;
  }
  .App {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
  }
  h1 {
    text-align: center;
    color: white;
    font-family: fantasy;
    font-size: 40px;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 13px;
    font-size: 17px;
  }
  button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    font-size: 17px;
  }
  button:hover {
    background-color: #0056b3;
  }
  img {
    min-width: 200px;
    margin-top: 20px;
    border-radius: 10px;
  
  }
  @media (max-width:562px){
    #root{
      min-width: 200px;
      min-height: 225px;
    }
  }